
$barColor: #4371ff;

.bar {
  transition: fill 0.1s ease-in-out;
  fill: $barColor;
}

.bar:hover {
  fill: complement($barColor);
}

.axis text {
  font: 10px sans-serif !important;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar-tooltip {
  font: 10px sans-serif;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;

  .label {
    font-weight: bold;
  }

  .value {
    font-weight: normal;
  }

}

/* Creates a small triangle extender for the tooltip */
.bar-tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.bar-tooltip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}